@charset "utf-8";

.hp-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2999;
  background: white;
  padding-bottom: px2rem(30px);
  .phone {
    width: px2rem(200px);
    margin-bottom: px2rem(60px);
    -webkit-animation: phoneAction 1.5s ease infinite;
    animation: phoneAction 1.5s ease infinite;
  }
  @keyframes phoneAction {
    0% {
      transform: rotate(-60deg);
    }
    100% {
      transform: rotate(30deg);
    }
  }
  @-webkit-keyframes phoneAction {
    0% {
      transform: rotate(-60deg);
    }
    100% {
      transform: rotate(30deg);
    }
  }
  .tip {
    font-size: px2rem(28px);
    color: $text-color;
  }
}
